.screen-header {
  @include flexbox(between);
  padding: $horizontal-space;
  margin-bottom: 10px;

  &-title {
    font-size: 27px;
    font-weight: 600;
  }

  &-icons {
    @include flexbox;

    li {
      padding: 0 12px;
    }
  }
}

.screen-header,
.center-header {
  position: fixed;
  top: 25px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 2;
}

.center-header {
  @include flexbox(between);
  padding: $horizontal-space;
  margin-bottom: 10px;

  &-column:first-child {
    width: 20px;
    @include flexbox(start);
  }

  &-column:nth-child(2) {
    width: 60%;
  }

  &-column:last-child {
    width: 20px;
    @include flexbox(end);

    a {
      margin-left: 15px;
    }
  }

  &-title {
    font-size: 27px;
    font-weight: 600;
    text-align: center;
  }
}
