.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  background-color: #f9f9fa;
  border-top: 1px solid $gray-line;

  &-list {
    @include flexbox(evenly);
  }

  &-link {
    position: relative;
    color: #2f363e;
  }
}
