.status-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  @include flexbox;
  padding: 5px 3px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  z-index: 3;

  &-column {
    width: calc(100% / 3);

    &:first-child span {
      margin-left: 5px;
    }

    &:nth-child(2) {
      @include flexbox;
    }

    &:last-child {
      @include flexbox(end);
    }
  }

  .fa-battery-half,
  .fa-bolt {
    margin: 0 2px 0 3px;
  }
}
